stocks/*
*.zip
SQL_Output/*.sql
SQL_Output/*.csv

# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.egg-info/
**/.ipynb_checkpoints/
**/.pytest_cache/
**/.mypy_cache/
**/.coverage
**/.coverage.*

# Environnements virtuels
venv/
.venv/
env_vir/

# Node
**/node_modules/**

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Logs
*.log
