@import "./base.css";

.mainSubject {
    height: calc(
        calc(100vh - calc(var(--spacing) * 20) - calc(var(--spacing) * 8))
    );
}

.brand-tx {
    font-size: calc(var(--spacing) * 6);
    font-style: italic;
    font-weight: 700;
}
